.red {color: red;}
.lightred{color: lightcoral}
.green {color: green;}
.blue {color: blue;}
.grey{color:grey}
.box-shadow {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.transaction {
    padding: '30px';
}

.text-center {
  text-align: center !important;
}

.bold-text {
  font-weight: bold;
}