.table-container {
  max-height: 850px;
}

.table-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: black;
  color: white;
}

.table-header-container-sm {
  background: white;
  display: flex;
  justify-content: flex-end;
}

.table-border {
  padding: 50px 100px;
}

.table-border-sm {
  padding: 0;
}

.table-header-text {
  font-size: 40px;
  display: flex;
  align-items: center;  
  justify-content: left;
}

.icon-padding {
  padding-right: 15px;
}

@media only screen and (max-width: 500px) {
  .table-header-text {
    font-size: 30px;
  }

  .table-header-container {
    padding: 0 5px;
  }
  
  .table-border {
    padding: 0;
  }
}

.table-header-updateContainer {
  display: flex;
}

.table-header-search {
  align-self: center;
}

.table-header-update {
  margin-right: 4px;
  padding: 4px 12px;
}